<article>
  <section class ="header">
    <h2>
      {{title}}
    </h2>
    <h4>Today is {{today|date}}</h4>
  </section>

  <section>
      <ul>
          <!-- Template syntax *ng for the div its in -->
          <li *ngFor = 'let note of notes'>
             {{note.date|date}} {{note.desc}} 
             <!-- {{100|currency:'GBP'}} -->
          </li>
        </ul>
      
        <!-- Events syntax  -->
        
     
        <button *ngIf = 'flag' (click)='handleClick()'>
          
          Agree to cookies
        </button>

        <!-- CSS hidden property -->
        <aside [hidden]= 'showFlag'>
          this is css hidden
        </aside>
      
        <img [src]="myUrl" width = "150" height= "150" alt="">

        <!-- Instatiating componenet -->
        <app-c1></app-c1>
        <app-c2></app-c2>   
        <app-fb [id]='otherId' (myEvent)='handleCustomEvent($event)' ></app-fb>
  </section>
</article>